* {
    box-sizing: border-box;
    color: #545454;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-height: 100vh;
    margin: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    min-width: 320px;
}

.menu {
    display: none;
}

.text-center {
    text-align: center;
}

img {
    max-width: 100%;
    display: inline-block;
    height: auto;
    vertical-align: top;
}

.holder-menu {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

h1 {
    font-size: 36px;
    margin: 20px 0 0;
}

.logo span {
    font-size: 18px;
    font-weight: 300;
}

/*  MAIN  */

main {
    background-color: #f6f6f6;
}

h2 {
    text-align: center;
    font-family: Georgia Regular;
    font-size: 30px;
}

.holder-pets {
    font-size: 0;
    margin: 0 -15px;
}

.col-pets {
    display: inline-block;
    vertical-align: top;
    padding: 0 15px;
    width: 50%;
}

.item {
    text-align: center;
    padding: 10px 15px;
    margin: 0 0 25px;
    border-radius: 5px;
    background-color: #fafafa;
}

.slick-slide .item img {
    display: inline-block;
    vertical-align: top;
}

.item:hover {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.item img {
    width: 260px;
}

figcaption {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #654d7b;
    padding: 10px 0;
}

.name span {
    margin-bottom: 20px;
    font-family: Georgia Regular;
}

.button {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.learn-more {
    font-size: 10px;
    text-decoration: none;
    margin: 0 auto;
    padding: 7px 16px;
    border-radius: 26px;
    color: #0c0c0c;
    background-color: #fafafa;
    border: 2px solid #f1cdb3;
    cursor: pointer;
}

.learn-more:hover {
    background-color: #f1cdb3;
}

.go-to-page {
    padding: 10px 0;
}

.go-to-page ul {
    display: flex;
    justify-content: center;
    font-size: 0;
}

.go-to-page ul li {
    padding: 0 2px;
}

.page {
    display: inline-block;
    vertical-align: top;
    width: 33px;
    text-decoration: none;
    border-radius: 100px;
    text-align: center;
    padding: 5px 0;
    border: 2px solid #f1cdb3;
    cursor: pointer;
    font-size: 15px;
}

.page:hover {
    background-color: #f1cdb3;
}

footer {
    background-image: url('../images/footer-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.holder-contacts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Georgia Regular;
    padding: 20px 0;
}

.contacts {
    width: 50%;
    padding: 0 10px;
}

.contacts h2 {
    color: #dfdfdf;
    font-size: 18px;
}

.contacts p {
    font-size: 14px;
}

.contacts a {
    color: #f1cdb3;
    text-decoration: none;
}

.contacts a:hover {
    color: #fdeee3;
}

.image-dog {
    width: 33.33%;
    padding: 20px 0;
}

i {
    font-size: 15px;
    color: #f1cdb3;
}

/* MODAL */

.popup-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

.popup-content {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}

.popup-content h2 {
    font-size: 18px;
}

.popup-content span {
    font-size: 12px;
}

.popup-content p {
    font-size: 10px;
}

.popup-content ul {
    font-size: 0;
    padding-left: 15px;
}

.popup-content ul li {
    font-size: 14px;
}

.hide {
    display: none;
}

.popup-left {
    width: 50%;
    padding: 5% 0;
}

.popup-right {
    text-align: left;
    width: 50%;
    padding: 0 10px;
}

.popup-content .close {
    position: absolute;
    font-size: 35px;
    top: 0;
    right: 16px;
}

.close:hover,
.close:focus {
    color: #000;
    cursor: pointer;
}

/* end MODAL */

/* ABOUT */

.about-the-shelter {
    background-image: url('../images/header-bg-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    min-width: 320px;
}

.about-the-shelter h1 {
    color: #f1cdb3;
}

.about-the-shelter span {
    color: #fff;
}

.dark h1 {
    color: #f1cdb3;
}

.about-the-shelter a {
    color: #cdcdcd;
}

.holder-banner {
    display: flex;
    
}

.banner-text {
    display: flex;
    flex-direction: column;
}

.banner-text h2 {
    text-align: center;
    color: #fff;
}

.banner-text span {
    display: inline-block;
    vertical-align: top;
    line-height: 1.5;
    color: #cdcdcd;
    margin-bottom: 40px;
    text-align: center;
}

.button-make-friend {
    display: flex;
    justify-content: center;
    vertical-align: top;
    padding-bottom: 40px;
}

.make-friend,
.button-get-know {
    font-size: 12px;
    text-decoration: none;
    padding: 8px 24px;
    border-radius: 26px;
    background-color: #f1cdb3;
    border: 2px solid #f1cdb3;
    cursor: pointer;
}

.button-make-friend a,
.get-know a {
    display: inline-block;
    vertical-align: top;
    color: #292929;
    font-family: georgia;
    font-size: 15px;
}

.button-make-friend a:hover,
.get-know a:hover {
    background-color: #fdeadd;
}

.get-know {
    text-align: center;
    padding: 20px 0;
}

.description-shelter {
    background-color: #fafafa;
}

.holder-help {
    padding: 10px 0;
}

h2 {
    font-size: 28px;
}

.multiple-items .item {
    padding: 10px 5px;
    margin: 0;
}

.multiple-items .button {
    padding: 5px 0;
}

figcaption {
    font-size: 9px;
    padding: 5px 0;
}

.multiple-items .learn-more {
    font-size: 7px;
    padding: 3px 14px;
}

.holder-items-help {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.item-help {
    width: 50%;
}

.col-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 30px 0;
}

.desc-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.desc-image {
    width: 150px;
}

.desc-text p {
    line-height: 1.6;
    font-size: 14px;
}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desc-text span {
    text-align: center;
}

.you-help {
    background-color: #fafafa;
}

.text-help {
    text-align: center;
}

.img-help {
    text-align: center;
}

.desc-text span {
    font-family: Georgia Regular;
    font-size: 15px;
}

.cart p {
    padding: 10px 15px;
    background-color: #f1cdb3;
    border-radius: 8px;
    font-size: 15px;
    width: 248px;
}

.cart span {
    font-family: Arial;
    font-style: italic;
    font-size: 12px;
    color: #b2b2b2;
}

i {
    color: #545454;
}

.slick-prev:before,
.slick-next:before {
    font-size: 35px;
    color: #f1cdb3;
    opacity: 0.7;
}


.slick-prev:before, .slick-next:before {
    font-size: 20px;
}

.slick-next {
    right: 16px;
}

.slick-prev {
    left: 6px;
    z-index: 2;
}

/* end ABOUT */

@media screen and (min-width: 480px) {
    .learn-more {
        font-size: 12px;
        padding: 9px 17px;
    }

    .name {
        padding: 5px 0;
    }

    .popup-content h2 {
        font-size: 20px;
    }

    .popup-content span {
        font-size: 16px;
    }

    .popup-content p {
        font-size: 12px;
    } 

    i {
        font-size: 20px;
    }

    /* About the shelter */

    .holder-menu {
        justify-content: flex-start;
    }

    .banner-text h2, .banner-text span {
        text-align: left;
    }

    .button-make-friend {
        justify-content: flex-start;
    }

    .desc-image {
        width: 120px;
    }

    .multiple-items .learn-more {
        font-size: 11px;
        padding: 5px 18px;
    }

    .item-help {
        width: 33.33%;
    }

    .desc-image {
        width: 150px;
    }

    .contacts h2 {
        text-align: left;
    }

    .holder-help {
        padding: 15px 0;
    }

    /* end About the shelter */
}

@media screen and (min-width: 768px) {
    .holder-menu {
        justify-content: space-between;
        padding: 20px 0;
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65%;
    }

    .logo {
        width: 35%;
    }

    nav ul {
        display: flex;
        font-size: 0;
        list-style: none;
        padding: 0;
    }

    nav li a {
        display: inline-block;
        vertical-align: top;
        text-decoration: none;
        padding: 10px 5px;
        font-size: 16px;
        font-weight: 300;
    }

    nav li a:hover {
        color: #838383;
    }

    .active:hover {
        border: none;
    }

    .active {
        border-bottom: 3px solid #f7df59;
    }

    .menu a:hover {
        border-bottom: 3px solid #f7df59;
    }

    .col-pets {
        width: 33.33%;
    }

    .popup-content h2 {
        font-size: 24px;
    }

    .popup-content p {
        font-size: 15px;
    }

    .popup-content ul li {
        font-size: 14px;
    }

    .name {
        padding: 10px 0;
    }

    .button {
        padding: 5px 0;
    }

    .learn-more {
        font-size: 14px;
        padding: 10px 26px;
    }

    .popup-content h2 {
        font-size: 24px;
    }

    .popup-content span {
        font-size: 18px;
    }

    .popup-content ul li {
        font-size: 16px;
    }

    i {
        font-size: 24px;
    }

    /* About the shelter */

    .banner-text {
        width: 60%;
    }

    .holder-banner {
        padding: 15px 0;
    }

    .col-about {
        flex-direction: row;
    }

    .desc-image {
        width: 50%;
        padding: 0 15px;
    }

    .desc-text {
        width: 50%;
    }

    .multiple-items .learn-more {
        font-size: 15px;
        padding: 8px 26px;
    }

    .get-know {
        padding: 30px 0;
    }

    .holder-items-help {
        padding: 20px 0;
    }

    .desc-text h2 {
        margin: 0 0 20px;
    }

    .desc-text h2, .desc-text span {
        text-align: left;
    }

    .cart {
        align-items: flex-start;
    }

    .holder-contacts {
        padding: 25px 0;
    }

    .contacts h2 {
        font-size: 24px;
    }

    .contacts p {
        font-size: 16px;
    }

    .slick-prev:before, .slick-next:before {
        font-size: 30px;
    }

    .multiple-items .item {
        width: 200px;
    }

    .item-help {
        width: 20%;
        margin-bottom: 20px;
    }

    .holder-help {
        padding: 20px 0;
    }

    /* end About the shelter */
}

@media screen and (min-width: 1024px) {
    .menu {
        justify-content: flex-end;
    }

    nav li a {
        padding: 11px 10px;
        font-size: 18px;
    }

    .col-pets {
        width: 25%;
    }

    .learn-more {
        font-size: 14px;
        padding: 13px 33px;
    }

    .popup-content {
        width: 60%;
    }

    .popup-content h2 {
        font-size: 34px;
    }

    .go-to-page {
        padding: 34px 0;
    }

    .page {
        width: 38px;
        font-size: 20px;
    }

    .holder-contacts {
        padding: 35px 0;
    }

    .contacts h2 {
        font-size: 32px;
    }

    .contacts p {
        font-size: 18px;
    }

    /* About the shelter */

    .banner-text h2 {
        font-size: 36px;
        font-family: Georgia Regular;
        line-height: 1.5;
    }

    .banner-text {
        width: 45%;
    }

    .holder-banner {
        padding: 52px 0;
    }

    .col-about {
        padding: 75px 0;
    }

    .holder-looking-house {
        padding: 30px 0 40px;
    }

    .holder-pets {
        margin-bottom: 30px;
    }

    .multiple-items .item {
        width: 272px;
    }

    h2 {
        font-size: 45px;
    }

    .item-help {
        margin-bottom: 40px;
    }

    .holder-help {
        padding: 50px 0;
    }

    /* end About the shelter */

}

@media screen and (min-width: 1300px) {
    .holder-banner {
        padding: 130px 0;
    }
}

